<h1>Books</h1>

<table>
    <thead>
        <tr>
            <th>Title</th>
            <th>Body</th>
            <th></th>
        </tr>
    </thead>

        <% @bookers.each do |booker| %>
    <tbody>
            <tr>
                <td><%= booker.title %></td>
                <td><%= booker.body %></td>
                <td><%= link_to "Show" , "/bookers/#{booker.id}" %></td>
                <td><%= link_to "Edit" , "/bookers/#{booker.id}/edit" %></td>
                <td><%= link_to "Destroy" , "/bookers/#{booker.id}"  , method: :delete , "data-confirm" => "本当に削除しますか？" %></td>
            </tr>
        <% end %>
    </tbody>
</table>



<div class="form_with">
    <h2>New book</h2>

    <%= form_with model:@booker, url:"/bookers", local:true do |f| %>

        <div class="box">
            <h4>Title</h4>
            <%= f.text_field :title %>
            </div>
        <h4>Body</h4>

        <div class="box">
            <%= f.text_area :body %>
        </div>

        <div class="block">
            <%= f.submit "  Create Book  " %>
        </div>

    <% end %>
</div>

